<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h:panelGroup rendered="${!userBean.isLoggedIn()}">
		<h2>Niste ulogovani. Molimo Vas da se ulogujete klikom na link:</h2>
		<h:outputLink value="index.xhtml">Prijavi se</h:outputLink>
	</h:panelGroup>
	
	<h:panelGroup rendered="${userBean.isLoggedIn()}">
		<h1>Prijavljen korisnik: <h:outputText value="${userBean.username}"></h:outputText></h1>
		<h2>Dodavanje leta</h2>
		
		<h:form>
			<table border="0">
				<tr>
					<td>ID Leta:</td>
					<td><h:inputText value="#{addFlightBean.flightId}" required="true">
						<f:validateRequired></f:validateRequired>
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Datum polaska:</td>
					<td>
					<p><h:message for="departureDate"></h:message> </p>
					<h:inputText id="departureDate" value="#{addFlightBean.departureDate}" required="true">
						<f:validateRequired></f:validateRequired>
						<f:validator validatorId="dateValidator" />
					</h:inputText></td>
					
				</tr>
				
				<tr>
					<td>Vreme polaska:</td>
					<td>
					<p><h:message for="departureTime"></h:message> </p>
					<h:inputText id="departureTime" value="#{addFlightBean.departureTime}" required="true">
						<f:validateRequired></f:validateRequired>
						<f:validator validatorId="timeValidator" />
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Datum dolaska:</td>
					<td>
					<p><h:message for="arrivalDate"></h:message> </p>
					<h:inputText id="arrivalDate" value="#{addFlightBean.arrivalDate}" required="true">
						<f:validateRequired></f:validateRequired>
						<f:validator validatorId="dateValidator" />
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Vreme dolaska:</td>
					<td>
					<p><h:message for="arrivalTime"></h:message> </p>
					<h:inputText id="arrivalTime" value="#{addFlightBean.arrivalTime}" required="true">
						<f:validateRequired></f:validateRequired>
						<f:validator validatorId="timeValidator" />
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Polazni aerodrom:</td>
					<td>
					<h:inputText value="#{addFlightBean.source}" required="true">
						<f:validateRequired></f:validateRequired>
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Odredisni aerodrom:</td>
					<td>
					<h:inputText value="#{addFlightBean.destination}" required="true">
						<f:validateRequired></f:validateRequired>
					</h:inputText></td>
				</tr>
				
				<tr>
					<td>Broj sedista:</td>
					<td>
					<h:inputText value="#{addFlightBean.numberOfPassengers}" required="true">
						<f:validateRequired></f:validateRequired>
						<f:validateLongRange minimum="10" maximum="1250"></f:validateLongRange>
					</h:inputText></td>
				</tr>
			</table>
			
			<h:commandButton action="#{addFlightBean.addFlight}" value="Posalji" type="submit"></h:commandButton>
		</h:form>	
		
		<h:outputLink value="main.xhtml">Spisak svih letova</h:outputLink>
	</h:panelGroup>
</f:view>
</html>