<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h1>Prijavljivanje</h1>
	<h:form>
		<table border="0">
		    <tr>
		    <td>Unesite korisnicko ime:</td>
		    <td><h:inputText value="#{loginBean.username}" /></td>
		    </tr>
		    <tr>
		      <td> &nbsp; </td>
		      <td><h:commandButton action="#{loginBean.login}" value="Login" type="submit" /></td>
		    </tr>
		</table>
		
		<!--  >h:outputText rendered="${messageBean.toShow()}" value="#{messageBean.text}"></h:outputText-->
	</h:form>
	<h:outputLink value="register.xhtml">Register</h:outputLink>
</f:view>
</html>