<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h:panelGroup rendered="${!userBean.isLoggedIn()}">
		<h2>Niste ulogovani. Molimo Vas da se ulogujete klikom na link:</h2>
		<h:outputLink value="index.xhtml">Prijavi se</h:outputLink>
	</h:panelGroup>
	
	<h:panelGroup rendered="${userBean.isLoggedIn()}">
		<h1>Prijavljen korisnik: <h:outputText value="${userBean.username}"></h:outputText></h1>
		<h2><h:outputText value="${flightInfoBean.flightInfo}"></h:outputText> </h2>
		<h:dataTable value="#{flightInfoBean.reservations}" var="item" border="1">
			<h:column>
				<f:facet name="header">Putnik</f:facet>
				<h:outputLink value="list_passenger.xhtml">
					<h:outputText value="${item.getFullName()}"></h:outputText>
					<f:param name="passengerId" value="${item.jmbg}"></f:param>
				</h:outputLink>
			</h:column>
			
			<h:column>
				<f:facet name="header">Otkaz rezervacije</f:facet>
				<h:outputLink value="potvrdi_otkaz.xhtml">
					<h:outputText value="Otkazi"></h:outputText>
					<f:param name="passengerId" value="${item.jmbg}"></f:param>
					<f:param name="flightId" value="#{flightInfoBean.flightId}"></f:param>
				</h:outputLink>
			</h:column>
		</h:dataTable>
		
		<p><h:outputLink value="rezervacije.xhtml">
			<f:param name="flightId" value="${flightInfoBean.flightId}"></f:param>
			Rezervacija sedista</h:outputLink></p>
		<p><h:outputLink value="main.xhtml">Spisak svih letova</h:outputLink></p>
	</h:panelGroup>
</f:view>
</html>