<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h:panelGroup rendered="${!userBean.isLoggedIn()}">
		<h2>Niste ulogovani. Molimo Vas da se ulogujete klikom na link:</h2>
		<h:outputLink value="index.xhtml">Prijavi se</h:outputLink>
	</h:panelGroup>
	
	<h:panelGroup rendered="${userBean.isLoggedIn()}">
		<h1>Prijavljen korisnik: <h:outputText value="${userBean.username}"></h:outputText></h1>
		<h2>Spisak svih letova</h2>
		<h:dataTable value="#{f.flights}" var="item" border="1">
			<h:column>
				<f:facet name="header">Redni broj</f:facet>
				<h:outputLink value="list_flight.xhtml"><h:outputText value="${item.redniBroj}"></h:outputText>
					<f:param name="flightId" value="${item.id}"></f:param>
				</h:outputLink>
			</h:column>
			
			<h:column>
				<f:facet name="header">ID leta</f:facet>
				<h:outputText value="${item.id}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Vreme polaska</f:facet>
				<h:outputText value="${item.departureTime}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Vreme dolaska</f:facet>
				<h:outputText value="${item.arrivalTime}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Polazni aerodrom</f:facet>
				<h:outputText value="${item.source}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Odrediste</f:facet>
				<h:outputText value="${item.destination}" />
			</h:column>
		</h:dataTable>
		
		<h:outputLink value="add_flight.xhtml">Dodaj novi let</h:outputLink>
		<h:form>
			<h:commandButton action="#{userBean.logout}" value="Logout" type="submit"></h:commandButton>
		</h:form>
	</h:panelGroup>
</f:view>
</html>