<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h:panelGroup rendered="${!userBean.isLoggedIn()}">
		<h2>Niste ulogovani. Molimo Vas da se ulogujete klikom na link:</h2>
		<h:outputLink value="index.xhtml">Prijavi se</h:outputLink>
	</h:panelGroup>
	
	<h:panelGroup rendered="${userBean.isLoggedIn()}">
		<h1>Prijavljen korisnik: <h:outputText value="${userBean.username}"></h:outputText></h1>
		<h2><h:outputText value="${potvrdiOtkazBean.info}"></h:outputText> </h2>
		
		<h:form>
			<h:commandButton action="#{potvrdiOtkazBean.otkazi}" value="Potvrdi" type="submit">
				<f:param name="flightId" value="${param['flightId']}"></f:param>
				<f:param name="passengerId" value="${param['passengerId']}"></f:param>
			</h:commandButton>
		</h:form>
		
		<p><h:outputLink value="main.xhtml">Povratak na osnovnu stranu	</h:outputLink></p>
	</h:panelGroup>
</f:view>
</html>