<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h1> Registracija </h1>
	<h:form>
		<table border="0">
			<tr>
				<td>Unesite korisnicko ime za registrovanje:</td>
				<td><h:inputText value="#{registrationBean.username}" required="true"></h:inputText> </td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><h:commandButton action="#{registrationBean.register()}" value="Register" type="submit"></h:commandButton> </td>
			</tr>
		</table>
	</h:form>
	<h:outputLink value="index.xhtml">Login</h:outputLink>
</f:view>
</html>