<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<head>
<title>JSF Ispit</title>
</head>
<f:view>
	<h:panelGroup rendered="${!userBean.isLoggedIn()}">
		<h2>Niste ulogovani. Molimo Vas da se ulogujete klikom na link:</h2>
		<h:outputLink value="index.xhtml">Prijavi se</h:outputLink>
	</h:panelGroup>
	
	<h:panelGroup rendered="${userBean.isLoggedIn()}">
		<h1>Prijavljen korisnik: <h:outputText value="${userBean.username}"></h:outputText></h1>
		<h2>Rezervacija sedista</h2>
		<h2><h:outputText value="#{flightInfoBean.flightInfo}"></h:outputText> </h2>

		<h:form>
			<table border="0" width="60%">
			  <tr>
			  	<td>JMBG putnika:</td>
			  	<td>
			  	<h:message for="jmbg"></h:message>
			  	<h:inputText id="jmbg" value="#{reservationBean.jmbg}" required="true">
					<f:validateRequired></f:validateRequired>
			  		<f:validateLength minimum="13" maximum="13"/>
			  		<f:convertNumber integerOnly="true" type="number" />
			  	</h:inputText>
			  	</td>
			  </tr>
			  <tr>
				  <td>Ime:</td>
				  <td>
				  	<h:inputText value="#{reservationBean.name}" required="true">				  		
						<f:validateRequired></f:validateRequired>
				  	</h:inputText></td></tr>
			  <tr>
			  	  <td>Prezime:</td>
			  	  <td>
			  	  	<h:inputText value="#{reservationBean.lastName}" required="true">
						<f:validateRequired></f:validateRequired>
					</h:inputText></td>
			  </tr>
			  <tr><td> &nbsp; </td>
			    <td>
			  	  <h:commandButton action="#{reservationBean.reserve}" value="Rezervisi" type="submit">
			  	  		<f:param name="flightId" value="${param['flightId']}"></f:param>
			  	  </h:commandButton> 
			  	</td></tr>
			  </table>
		</h:form>
		
		<h:outputLink value="main.xhtml">Spisak svih letova</h:outputLink>
	</h:panelGroup>
</f:view>
</html>